name: YouTube Plusアプリを作成

on:
  workflow_dispatch:
    inputs:
      enable_youpip:
        description: "YouPiPを統合する"
        type: boolean
        required: true
        default: false

      enable_ytuhd:
        description: "YTUHDを統合する"
        type: boolean
        required: true
        default: false

      enable_yq:
        description: "YouQualityを統合する"
        type: boolean
        required: true
        default: false

      enable_ryd:
        description: "Return YouTube Dislikesを統合する"
        type: boolean
        required: true
        default: false

      enable_demc:
        description: "DontEatMyContentを統合する"
        type: boolean
        required: true
        default: false

      ipa_url:
        description: "復号化された IPA ファイルへの URL"
        default: ""
        required: true
        type: string

      tweak_version:
        description: "tweakのバージョン。dayanch96/YTLite/releases から手動でバージョンを入力するか、分からないならそのままにしてください"
        default: "5.2b2"
        required: true
        type: string

      display_name:
        description: "アプリの名称 (お好み)"
        default: "YouTube"
        required: true
        type: string

      bundle_id:
        description: "BundleID (お好み)"
        default: "com.google.ios.youtube"
        required: true
        type: string

      info_note:
        description: "ヒント: 以下のリンクからREADMEで統合機能の詳細を確認してください"
        default: "https://github.com/dayanch96/YTLite#tweak-integration-details"
        type: string
        required: false

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name:
    runs-on: macos-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Main
        uses: actions/checkout@v4.1.1
        with:
          path: main
          submodules: recursive

      - name: 入力した情報を非表示
        uses: levibostian/action-hide-sensitive-inputs@v1
        with:
          exclude_inputs: bundle_id,display_name,enable_demc,enable_ryd,enable_youpip,enable_yq,enable_ytuhd,info_note,tweak_version

      - name: IPAをダウンロードして検証
        run: |
          wget "${{ inputs.ipa_url }}" --no-verbose -O ${{ github.workspace }}/youtube.ipa

          file_type=$(file --mime-type -b ${{ github.workspace }}/youtube.ipa)

          if [[ "$file_type" != "application/x-ios-app" && "$file_type" != "application/zip" ]]; then
            echo "::error::Validation failed: The downloaded file is not a valid IPA. Detected type: $file_type."
            exit 1
          fi

      - name: 依存関係をインストール
        run: brew install make ldid

      - name: PATH環境変数を設定
        run: echo "$(brew --prefix make)/libexec/gnubin" >> $GITHUB_PATH

      - name: Theosをキャッシュ
        id: theos
        uses: actions/cache@v4
        env:
          cache-name: theos_cache_67db2ab
        with:
          path: theos/
          key: ${{ env.cache-name }}
          restore-keys: ${{ env.cache-name }}

      - name: Theosのセットアップ
        if: steps.theos.outputs.cache-hit != 'true'
        uses: actions/checkout@v4.1.7
        with:
          repository: theos/theos
          ref: 67db2ab8d950910161730de77c322658ea3e6b44
          path: ${{ github.workspace }}/theos
          submodules: recursive

      - name: iOS SDKをダウンロード
        if: steps.theos.outputs.cache-hit != 'true'
        run: |
          git clone --quiet -n --depth=1 --filter=tree:0 https://github.com/theos/sdks/
          cd sdks
          git sparse-checkout set --no-cone iPhoneOS16.5.sdk
          git checkout
          mv *.sdk $THEOS/sdks
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: cyanをインストール
        run: pipx install --force https://github.com/asdfzxcvbn/pyzule-rw/archive/main.zip

      - name: YouTube Plusをダウンロード
        id: download_ytp
        run: |
          deb_url="https://github.com/dayanch96/YTLite/releases/download/v${{ inputs.tweak_version }}/com.dvntm.ytlite_${{ inputs.tweak_version }}_iphoneos-arm.deb"
          wget "$deb_url" --no-verbose -O ${{ github.workspace }}/ytplus.deb

      - name: 「YouTubeで開く」を複製 (Safariの拡張機能)
        run: |
          git clone --quiet -n --depth=1 --filter=tree:0 https://github.com/CokePokes/YoutubeExtensions/
          cd YoutubeExtensions
          git sparse-checkout set --no-cone OpenYoutubeSafariExtension.appex
          git checkout
          mv *.appex ${{ github.workspace }}

      - name: YouTubeHeaderをクローン
        run: |
          if [ -d "$THEOS/include/YouTubeHeader" ]; then
            echo "YouTubeHeader exists. Pulling latest changes..."
            cd $THEOS/include/YouTubeHeader
            git pull
          else
            echo "YouTubeHeader does not exist. Cloning repository..."
            cd $THEOS/include
            git clone --quiet --depth=1 https://github.com/PoomSmart/YouTubeHeader.git
          fi

          if [ "${{ inputs.enable_demc }}" = "true" ]; then
            echo "Copying YouTubeHeader to YTHeaders..."
            rm -rf "$THEOS/include/YTHeaders"
            cp -r "$THEOS/include/YouTubeHeader" "$THEOS/include/YTHeaders"
          fi
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: PSHeaderをクローン
        run: |
          if [ -d "$THEOS/include/PSHeader" ]; then
            echo "PSHeader exists. Pulling latest changes..."
            cd $THEOS/include/PSHeader
            git pull
          else
            echo "PSHeader does not exist. Cloning repository..."
            cd $THEOS/include
            git clone --quiet --depth=1 https://github.com/PoomSmart/PSHeader.git
          fi
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: YouPiPをクローン
        if: ${{ inputs.enable_youpip }}
        run: |
          cd ${{ github.workspace }}
          git clone --quiet --depth=1 https://github.com/PoomSmart/YouPiP.git

      - name: YTUHDをクローン
        if: ${{ inputs.enable_ytuhd }}
        run: |
          cd ${{ github.workspace }}
          git clone --quiet --depth=1 https://github.com/PoomSmart/YTUHD.git

      - name: Return-YouTube-Dislikesをクローン
        if: ${{ inputs.enable_ryd }}
        run: |
          cd ${{ github.workspace }}
          git clone --quiet --depth=1 https://github.com/PoomSmart/Return-YouTube-Dislikes.git

      - name: YouGroupSettingsをクローン
        if: ${{ inputs.enable_demc }}
        run: |
          cd ${{ github.workspace }}
          git clone --quiet --depth=1 https://github.com/PoomSmart/YouGroupSettings.git

      - name: YouQualityをクローン
        if: ${{ inputs.enable_yq }}
        run: |
          cd ${{ github.workspace }}
          git clone --quiet --depth=1 https://github.com/PoomSmart/YouQuality.git

      - name: YTVideoOverlayをクローン
        if: ${{ inputs.enable_yq || inputs.enable_youpip }}
        run: |
          cd ${{ github.workspace }}
          git clone --quiet --depth=1 https://github.com/PoomSmart/YTVideoOverlay.git

      - name: DontEatMyContentをクローン
        if: ${{ inputs.enable_demc }}
        run: |
          cd ${{ github.workspace }}
          git clone --quiet --depth=1 --recurse-submodules https://github.com/therealFoxster/DontEatMyContent.git

      - name: YouPiPをビルド
        if: ${{ inputs.enable_youpip }}
        run: |
          cd ${{ github.workspace }}/YouPiP
          make clean package DEBUG=0 FINALPACKAGE=1
          mv packages/*.deb ${{ github.workspace }}/youpip.deb
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: YTUHDをビルド
        if: ${{ inputs.enable_ytuhd }}
        run: |
          cd ${{ github.workspace }}/YTUHD
          make clean package DEBUG=0 FINALPACKAGE=1
          mv packages/*.deb ${{ github.workspace }}/ytuhd.deb
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Return-YouTube-Dislikesをビルド
        if: ${{ inputs.enable_ryd }}
        run: |
          cd ${{ github.workspace }}/Return-YouTube-Dislikes
          make clean package DEBUG=0 FINALPACKAGE=1
          mv packages/*.deb ${{ github.workspace }}/ryd.deb
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: YouGroupSettingsをビルド
        if: ${{ inputs.enable_demc }}
        run: |
          cd ${{ github.workspace }}/YouGroupSettings
          make clean package DEBUG=0 FINALPACKAGE=1
          mv packages/*.deb ${{ github.workspace }}/ygs.deb
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: YouQualityをビルド
        if: ${{ inputs.enable_yq }}
        run: |
          cd ${{ github.workspace }}/YouQuality
          make clean package DEBUG=0 FINALPACKAGE=1
          mv packages/*.deb ${{ github.workspace }}/yq.deb
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: YTVideoOverlayをビルド
        if: ${{ inputs.enable_yq || inputs.enable_youpip }}
        run: |
          cd ${{ github.workspace }}/YTVideoOverlay
          make clean package DEBUG=0 FINALPACKAGE=1
          mv packages/*.deb ${{ github.workspace }}/ytvo.deb
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: DontEatMyContentをビルド
        if: ${{ inputs.enable_demc }}
        run: |
          cd ${{ github.workspace }}/DontEatMyContent
          make clean package DEBUG=0 FINALPACKAGE=1
          mv packages/*.deb ${{ github.workspace }}/demc.deb
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: IPAにtweakを注入する
        run: |
          tweaks="ytplus.deb OpenYoutubeSafariExtension.appex"

          for deb in youpip.deb ytuhd.deb ryd.deb ygs.deb yq.deb ytvo.deb demc.deb; do
            if [ -f "$deb" ]; then
              tweaks="$tweaks $deb"
            fi
          done

          cyan -i youtube.ipa -o YouTubePlus_${{ inputs.tweak_version }}.ipa -uwef $tweaks -n "${{ inputs.display_name }}" -b ${{ inputs.bundle_id }}

      - name: Githubのリリースにアップロード
        uses: softprops/action-gh-release@v2.0.1
        with:
          tag_name: ytp-${{ github.run_number }}
          name: YouTubePlus v${{ inputs.tweak_version }} (${{ github.run_number }})
          files: YouTubePlus_${{ inputs.tweak_version }}.ipa
          draft: true

      - name: Output Release URL
        run: |
          echo "::notice::Release available at: https://github.com/${{ github.repository }}/releases"
